<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Blogs</h3>
                <span class="breadcrumb">@(Context.Request.Path.ToString().Replace("/", " > "))</span>
            </div>
        </div>
    </div>
</div>

<div class="section trending">
    <div class="container">
        <!-- <div class="row trending-box"> -->
        <!-- <div class="col-lg-4 col-md-4 align-self-center mb-30 trending-items col-md-6 adventure">
                <div class="item">
                    <div class="thumb">
                        <a href="./blog-single.html"><img src="~/images/trending-01.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">Action</span>
                        <h4>Assasin Creed</h4>
                        <a href="./blog-single.html"><i class="fa fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div> -->
        <!-- </div> -->
        <div class="row blogs">
            <div class="col-lg-6">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <a href="./blog-single.html"><img src="~/images/trending-01.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">Action</span>
                        <h4>Blog title</h4>
                        <ul class="post-info">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">May 31, 2020</a></li>
                            <li><a href="#">12 Comments</a></li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi suscipit soluta
                            excepturi sapiente. Sunt saepe officia maxime, autem cupiditate similique. Quod facilis
                            laboriosam magnam fugiat ut assumenda libero, amet hic pariatur obcaecati ex voluptatem
                            reiciendis excepturi sunt maiores a blanditiis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <a href="./blog-single.html"><img src="~/images/trending-01.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">Action</span>
                        <h4>Blog title</h4>
                        <ul class="post-info">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">May 31, 2020</a></li>
                            <li><a href="#">12 Comments</a></li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi suscipit soluta
                            excepturi sapiente. Sunt saepe officia maxime, autem cupiditate similique. Quod facilis
                            laboriosam magnam fugiat ut assumenda libero, amet hic pariatur obcaecati ex voluptatem
                            reiciendis excepturi sunt maiores a blanditiis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <a href="./blog-single.html"><img src="~/images/trending-01.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">Action</span>
                        <h4>Blog title</h4>
                        <ul class="post-info">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">May 31, 2020</a></li>
                            <li><a href="#">12 Comments</a></li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi suscipit soluta
                            excepturi sapiente. Sunt saepe officia maxime, autem cupiditate similique. Quod facilis
                            laboriosam magnam fugiat ut assumenda libero, amet hic pariatur obcaecati ex voluptatem
                            reiciendis excepturi sunt maiores a blanditiis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <a href="./blog-single.html"><img src="~/images/trending-01.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">Action</span>
                        <h4>Blog title</h4>
                        <ul class="post-info">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">May 31, 2020</a></li>
                            <li><a href="#">12 Comments</a></li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi suscipit soluta
                            excepturi sapiente. Sunt saepe officia maxime, autem cupiditate similique. Quod facilis
                            laboriosam magnam fugiat ut assumenda libero, amet hic pariatur obcaecati ex voluptatem
                            reiciendis excepturi sunt maiores a blanditiis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <a href="./blog-single.html"><img src="~/images/trending-01.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">Action</span>
                        <h4>Blog title</h4>
                        <ul class="post-info">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">May 31, 2020</a></li>
                            <li><a href="#">12 Comments</a></li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi suscipit soluta
                            excepturi sapiente. Sunt saepe officia maxime, autem cupiditate similique. Quod facilis
                            laboriosam magnam fugiat ut assumenda libero, amet hic pariatur obcaecati ex voluptatem
                            reiciendis excepturi sunt maiores a blanditiis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <a href="./blog-single.html"><img src="~/images/trending-01.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">Action</span>
                        <h4>Blog title</h4>
                        <ul class="post-info">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">May 31, 2020</a></li>
                            <li><a href="#">12 Comments</a></li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi suscipit soluta
                            excepturi sapiente. Sunt saepe officia maxime, autem cupiditate similique. Quod facilis
                            laboriosam magnam fugiat ut assumenda libero, amet hic pariatur obcaecati ex voluptatem
                            reiciendis excepturi sunt maiores a blanditiis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <a href="./blog-single.html"><img src="~/images/trending-01.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <span class="category">Action</span>
                        <h4>Blog title</h4>
                        <ul class="post-info">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">May 31, 2020</a></li>
                            <li><a href="#">12 Comments</a></li>
                        </ul>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi suscipit soluta
                            excepturi sapiente. Sunt saepe officia maxime, autem cupiditate similique. Quod facilis
                            laboriosam magnam fugiat ut assumenda libero, amet hic pariatur obcaecati ex voluptatem
                            reiciendis excepturi sunt maiores a blanditiis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="#"> &lt; </a></li>
                    <li><a href="#">1</a></li>
                    <li><a class="is_active" href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"> &gt; </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>